Repository rahul2008d/rag-system-newpage: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict

  - repo: local
    hooks:
      # ---------- Ruff ----------
      - id: ruff
        name: ruff (lint + autofix)
        entry: ruff check --fix --config=ruff.toml
        language: system
        types: [python]
        files: ^(src|tests)/

      - id: ruff-format
        name: ruff (formatter)
        entry: ruff format --config=ruff.toml
        language: system
        types: [python]
        files: ^(src|tests)/

      # ---------- Pylint ----------
      - id: pylint
        name: pylint (design-focused)
        entry: pylint --rcfile=.pylintrc -rn -sn
        language: system
        types: [python]
        files: ^src/

final codebase fix
  src/app.py
  src/rag/system.py
Due: ruff, ruff-format, pylint

readme
  README.md
Due: none

updated readme with live demo
  README.md
Due: none

added test scripts
  README.md
  tests/__init__.py
  tests/test_chunking.py
  tests/test_loaders.py
  tests/test_rag_system.py
  tests/test_store.py
Due: ruff, ruff-format

add pre-commit command
  README.md
Due: none

security changes
  src/app.py
Due: ruff, ruff-format, pylint

updated live link
  README.md
Due: none
